.navbar{
   background-color: #333666 ;
   -webkit-box-shadow: 0 8px 6px -6px #cc3399 ;
   -moz-box-shadow: 0 8px 6px -6px #cc3399 ;
   box-shadow: 0 8px 6px -6px #cc3399 ;
}

.navbar-brand,
.navbar-spanclass,
.nav-link {
   color: white;
   font-weight: bold;    
}

.dropdown-menu,
.dropdown-item {
    background-color:#333666; 
    color: white;
 
}
.dropdown-item:hover{
 color: white;
   font-weight: bold;
   background-color: #3e427d ;
}



.navbar-brand:hover,
.nav-link:hover {
   color: white;
   font-weight: bold;
   background-color: #3e427d ;
}