<div class="card">
  <h3 class="card-header">{{pageTitle}}</h3>
  <div class="card-block">

   <form [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)">
    <div class="form-group">
      <label for="userName">Email</label>
      <input required formControlName='email' type="text" class="form-control" placeholder="Email" />
      <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="alert alert-danger">You must provide an email address!</div>
        <div *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched" class="alert alert-danger">You must enter a legit email address!</div>
      
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input required formControlName='password' type="password" class="form-control" placeholder="password" />
      <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">You must provide a password!</div>
        <div *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched" class="alert alert-danger">The password needs to be at least 8 chracters long!</div>
    </div>


        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary pull-right"><i *ngIf='showSpinner'class="fa fa-spinner fa-spin"></i> Login</button>

      </form>
<ss-multiselect-dropdown name="multiselect" [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" class="dropdownselect" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
      

  </div>
   <div style="align-self: center"><a [routerLink]="['/signup']" class="signuptext" routerLinkActive="active">Don't have an account yet? Click here to register!</a></div>

</div>
