<div class="card">
  <h3 class="card-header">{{pageTitle}}</h3>
  <div class="card-block">

   <form #loginForm="ngForm" (ngSubmit)="verify(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="code">Please enter the code you received!</label>
      <input required (ngModel)="code" name="code" id="code" type="text" class="form-control" placeholder="code" />
    </div>
    
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary pull-right">Login</button>
      </form>

  </div>
</div>
