<div class="card">
  <h3 class="card-header">{{pageTitle}}</h3>
  <div class="card-block">
   
    
    <form [formGroup]="userForm" (ngSubmit)="createUserSMS(userForm.value)">

       <div class="form-group">
         <div *ngIf='showError' class="alert alert-danger" role="alert">
  <strong>Oh snap!</strong> Phone Number Already Exists!
        </div>
        <label>Phone number:</label>
        <input class="form-control" type="text" placeholder="Phone number" [formControl]="userForm.controls['phoneNumber']" >
         <div *ngIf="userForm.controls['phoneNumber'].hasError('required') && userForm.controls['phoneNumber'].touched" class="alert alert-danger">You must provide a phone number!</div>
      </div>
       
      <div class="form-group">
        <label>Country code:</label>
        <input class="form-control" type="text" placeholder="Country code" [formControl]="userForm.controls['countryCode']">
         <div *ngIf="userForm.controls['countryCode'].hasError('required') && userForm.controls['countryCode'].touched" class="alert alert-danger">You must provide the country code!</div>
        
      </div>

      <div class="form-group">
        <label>Password:</label>
        <input class="form-control" type="password" placeholder="Password" [formControl]="userForm.controls['password']">
          <div *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched" class="alert alert-danger">You must provide a password!</div>
        <div *ngIf="userForm.controls['password'].hasError('minlength') && userForm.controls['password'].touched" class="alert alert-danger">The password needs to be at least 8 characters long!</div>
      </div>

       
      <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
      <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary pull-right"><i *ngIf='showSpinner'class="fa fa-spinner fa-spin"></i> Next</button>
      </form>
      
      
  </div>
</div>


