

    <div class="card">
  <h3 class="card-header">{{pageTitle}}</h3>
  <div class="card-block">
   
    
    <form [formGroup]="userForm" (ngSubmit)="createUser(userForm.value)">

       <div class="form-group" >
          <qr-code [value]="'otpauth://totp/QNHSecurityPoC:rensvanw@gmail.com?secret=4IZPDK667ZB3QPZXBF4MY5GBCPMLLT64&issuer=QNHSecurityPoC&algorithm=SHA1&digits=6&period=30'" [size]="150"></qr-code>
      </div>
          
  
    <!--  <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
      <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary pull-right"><i *ngIf='showSpinner'class="fa fa-spinner fa-spin"></i> Next</button>-->
      </form>
      
      
  </div>
</div>


