

    <div class="card">
  <h3 class="card-header">{{pageTitle}}</h3>
  <div class="card-block">
    
    <div style="text-align:center"*ngIf="showQR" class="form-group" >
      <qr-code [value]="uri" [size]="250"></qr-code>
      <h5>Please scan the QR code with your phone!</h5>
      <br>
      <h6>After you've scanned the QR code, enter the code displayed in your app in the field below!</h6>
          
      <br>  
            
      </div>
    

     <form [formGroup]="userForm" (ngSubmit)="createUserApp(userForm.value)">

       <div class="form-group">
        <label>Code:</label>
        <input class="form-control" type="text" placeholder="code" [formControl]="userForm.controls['code']" >
          <div *ngIf="userForm.controls['code'].hasError('required') && userForm.controls['code'].touched" class="alert alert-danger">You must enter the code provided by the app!</div>
        <div *ngIf="userForm.controls['code'].hasError('minlength') && userForm.controls['code'].touched" class="alert alert-danger">The code needs to be exactly 6 digits long!</div>
        <div *ngIf="userForm.controls['code'].hasError('maxlength') && userForm.controls['code'].touched" class="alert alert-danger">The code needs to be exactly 6 digits long!</div>
      </div>



      <div class="form-group">
        <label>Password:</label>
        <input class="form-control" type="password" placeholder="Password" [formControl]="userForm.controls['password']">
          <div *ngIf="userForm.controls['password'].hasError('required') && userForm.controls['password'].touched" class="alert alert-danger">You must provide a password!</div>
        <div *ngIf="userForm.controls['password'].hasError('minlength') && userForm.controls['password'].touched" class="alert alert-danger">The password needs to be at least 8 characters long!</div>
      </div>

       

      <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary pull-right"><i *ngIf='showSpinner'class="fa fa-spinner fa-spin"></i> Save</button>
      </form>
      
      
  </div>
</div>


