<div class="card">
  <h3 class="card-header">{{pageTitle}}</h3>
  <div class="card-block">

   <form [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)">
   
  <div style="text-align:center"><h4>Choose your mfa solution!</h4></div>
<br>
<br>

        <button type="submit" class="btn btn-primary pull-right">Start</button>

      </form>
  <ss-multiselect-dropdown name="multiselect" [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" class="dropdownselect" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
      

  </div>
   <div style="align-self: center"><a [routerLink]="['/signup']" class="signuptext" routerLinkActive="active">Don't have an account yet? Click here to register!</a></div>

</div>
