<div class="card">
  <h3 class="card-header">Register your {{verifyType}} </h3>
  <div class="card-block">
<form [formGroup]="verifyForm" (ngSubmit)="verify(verifyForm.value)">

       <div class="form-group" >
        <label>Please fill in the code you've received by {{verifyType}}:</label>
        <input class="form-control" type="text" placeholder="code" [formControl]="verifyForm.controls['code']" >
      </div>
          
      <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
      <button type="submit" [disabled]="verifyForm.invalid" class="btn btn-primary pull-right"><i *ngIf='showSpinner'class="fa fa-spinner fa-spin"></i> Verify</button>
      </form>
      


  </div>
</div>
