<div class="card">
  <h3 class="card-header">{{pageTitle}}</h3>
  <div class="card-block">

   <form [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)">
    <div class="form-group">
      <label for="email">Phone number</label>
      <input required formControlName='phoneNumber' type="text" class="form-control" placeholder="Phone number" />
      <div *ngIf="loginForm.controls['phoneNumber'].hasError('required') && loginForm.controls['phoneNumber'].touched" class="alert alert-danger">You must provide a phone number!</div>
    </div>
          <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>

        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary pull-right">Next</button>

      </form>
      

  </div>

</div>
