<div class="card">
  <h3 class="card-header">{{pageTitle}}</h3>
  <div class="card-block">
   
    
    <form [formGroup]="userForm" (ngSubmit)="changePassword(userForm.value)">

       <div class="form-group" [ngClass]="{'has-error':!userForm.controls['oldPassword'].valid && userForm.controls['oldPassword'].touched}">
        <label>Old password:</label>
        <input class="form-control" type="password" placeholder="Old password" formControlName='oldPassword' >
               <div *ngIf="userForm.controls['oldPassword'].hasError('required') && userForm.controls['oldPassword'].touched" class="alert alert-danger">You must provide the old password!</div>
        <div *ngIf="userForm.controls['oldPassword'].hasError('minlength') && userForm.controls['oldPassword'].touched" class="alert alert-danger">Your old password needs to be at least 8 characters long.</div>

      </div>
       
      <div class="form-group" [ngClass]="{'has-error':!userForm.controls['newPassword1'].valid && userForm.controls['newPassword1'].touched}">
        <label>New password:</label>
        <input class="form-control" validateEqualTo="newPassword2" type="password" placeholder="New password" formControlName='newPassword1'>
             <div *ngIf="userForm.controls['newPassword1'].hasError('required') && userForm.controls['newPassword1'].touched" class="alert alert-danger">You must provide the new password!</div>
        <div *ngIf="userForm.controls['newPassword1'].hasError('minlength') && userForm.controls['newPassword1'].touched" class="alert alert-danger">Your new password needs to be at least 8 characters long.</div>
      </div>

      <div class="form-group" [ngClass]="{'has-error':!userForm.controls['newPassword2'].valid && userForm.controls['newPassword2'].touched}">
        <label>Repeat new password:</label>
        <input class="form-control" type="password" placeholder="Repeat new password" formControlName='newPassword2'>
             <div *ngIf="userForm.controls['newPassword2'].hasError('required') && userForm.controls['newPassword2'].touched" class="alert alert-danger">You must enter the new password again!</div>
              <div *ngIf="userForm.controls['newPassword2'].hasError('minlength') && userForm.controls['newPassword2'].touched" class="alert alert-danger">Your new password needs to be at least 8 characters long.</div>
              <div  *ngIf="userForm.controls.newPassword2.errors?.equalTo" class="alert alert-danger">The new passwords are not the same!</div>
         
     </div>

       
      <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary pull-right"><i *ngIf='showSpinner'class="fa fa-spinner fa-spin"></i> Save</button>
      </form>
      
  </div>
</div>


